.container {
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 320px;
    background-color: gray;
}

.flex-row {
    flex-direction: row;
}

.flex-item {
    width: 20px;
    height: 20px;
    margin: 1px;
    background-color: white;
}